<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <!-- 인터넷 익스플로러 호환을 위한 코드 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">-->
    <title>보호의 로또 생성기</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- SNS로 홈페이지를 공유했을 때의 제목, 설명, 썸네일 설정 -->
    <meta property="og:title" content="보호의 로또 생성기">
    <meta property="og:description" content="로또 당첨 어렵지 않습니다! 당첨 확률을 높여주는 최신 알고리즘 적용!!(예정)">
    <meta property="og:image" content="https://boholotto.store/images/open-graph-image.png">
</head>
<body>
    <div th:replace="~{fragments/intro::intro}"></div>

    <header>
        <div th:replace="~{fragments/header::header}"></div>
    </header>

    <main>
    <!-- Main Content -->
        <div layout:fragment="content"></div>
    <!-- Main Content -->
    </main>

    <footer>
        <div th:replace="~{fragments/footer::footer}"></div>
    </footer>
</body>
</html>
