spring:
  application:
    name: lottonumbergenerator

  datasource:
    url: jdbc:h2:tcp://localhost/~/testcase
    username: sa

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.springframework.jdbc: debug

lotto:
  schedule:
    update-time: "0 0 21 ? * SAT" # 토요일 21:00
  purchase:
    cutoff-time: "20:00:00"

title:
  default:
    name: 로또 탐구자
---
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ENC(MokgpQkvQUyjjxAY3FCbWstUz7nOpJTWms/UIylCzblf8WZtJWVcWbZTFpFLTkeeIHBniSmmMSwDc1URHm7OLx30Nb/fpwX6gcAZuH71axfnwgD/knkXFBXrDYZZyky4h2DVGtMUW+p7mWodwT+GWA==)
    username: ENC(cFNJIUUsYnyT4axw8Pm6pdMhBGXOTpZH)
    password: ENC(5EI1GOI/OdcBq5m+1ughvkfUMQ6LpIZx)

  jpa:
    # 이 설정 안하면 spring Error executing DDL "alter table faq drop foreign key if exists" 오류 발생
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
