.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 4rem;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    background-color: grey;
}

.footer .github__link {
    padding: 0.8rem;
}

.github__link a {
    display: flex;
    align-items: center;
}

.github__link img {
    width: 1.7rem;
    height: 1.7rem;
    padding: 0.3rem 0 0;
    margin-right: 0.5rem;
}

.footer .github__link:hover {
    color: #2BB7DA;
    text-decoration: underline;
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 1rem 1.5rem;
        font-size: 0.8rem;
    }

    .footer .copyright {
        order: 1;
    }

    .footer .github__link {
        padding: 0;
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 0.8rem;
    }
}

@media (min-width: 769px) {

}
