.login__background {
    padding: 3rem;
    color: white;
    font-weight: bold;
    background-color: #1C2333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30vw;
    padding: 2rem;
    border: 2px solid white;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.login__container__title {
    display: inline-block;
    margin: -1rem 0 1.5rem;
    font-weight: bold;
    font-size: 2rem;
}

.authentication__failed {
    width: 96%;
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    background: lightpink;
    color: red;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid lightpink;
    border-radius: 5px;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: inherit;
    gap: 1.5rem;
}

.login__form__username, .login__form__password {
    width: 100%;
}

.login__form label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}

.login__form input {
    display: block;
    width: 96%;
    height: 2rem;
    border-radius: 5px;
    padding-left: 0.5rem;
}

.login__form button {
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
}

.signup__recommendation {
    font-size: 1.2rem;
}

.signup__recommendation span {
    display: inline-block;
    margin-right: 1rem;
}

@media (max-width: 768px) {
    .login__container {
        width: 70vw;
        padding: 1.2rem;
    }

    .login__container__title {
        margin: -0.6rem 0 1.5rem;
    }

    .authentication__failed {
        font-size: 1rem;
    }

    .signup__recommendation {
        font-size: 1.1rem;
    }
}

@media (min-width: 769px) {

}
