.lotto {
    padding: 1.5rem 1.5rem 3rem;
    background-color: #1C2333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lotto h1 {
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.lotto h2 {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.lotto p {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.lotto__balls {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.lotto__ball {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #785FF8;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    border: 2px solid #ccc;
    transition: transform 0.2s;
}

.lotto__ball._2 {
    background-color: #70D680;
}

.lotto__ball._3 {
    background-color: #997A05;
}

.lotto__ball._4 {
    background-color: #FD6768;
}

.lotto__ball._5 {
    background-color: #2BB7DA;
}

.lotto__ball._6 {
    background-color: #9CA7B9;
}

.lotto__ball._bonus {
    background-color: lightpink;
}

.lotto__ball:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.include__exclude__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

.include__exclude__title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 0.6rem;
}

.include__exclude__number__ball {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: lightpink;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    border: 2px solid #ccc;
    transition: transform 0.2s;
}

.include__exclude__number__ball:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .lotto {
        padding: 1.5rem 1.5rem 2rem;
    }

    .lotto h1 {
        font-size: 1.3em;
    }

    .lotto h2 {
        font-size: 0.9em;
    }

    .lotto__ball {
        width: 36px;
        height: 36px;
        font-size: 16px;
        display: flex;
    }
}

@media (min-width: 769px) {

}
