<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layouts/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>로또 조합 생성</title>
    <link rel="stylesheet" th:href="@{/css/generated-lotto.css}">
    <link rel="stylesheet" th:href="@{/css/lotto.css}">
</head>
<body>
    <section layout:fragment="content">
        <div class="lotto__box__container">
            <div class="lotto__box" th:each="lotto : ${lotto}" th:with="includeList=${lotto.includeNumbers}, excludeList=${lotto.excludeNumbers}">
                <h1 class="lotto__box__title">🏆 생성된 조합 🏆</h1>
                <div class="lotto__balls">
                    <div class="lotto__ball _1" th:text="${lotto.firstNumber}"></div>
                    <div class="lotto__ball _2" th:text="${lotto.secondNumber}"></div>
                    <div class="lotto__ball _3" th:text="${lotto.thirdNumber}"></div>
                    <div class="lotto__ball _4" th:text="${lotto.fourthNumber}"></div>
                    <div class="lotto__ball _5" th:text="${lotto.fifthNumber}"></div>
                    <div class="lotto__ball _6" th:text="${lotto.sixthNumber}"></div>
                </div>

                <div class="include__exclude__container">
                    <div class="include__exclude__title">포함된 숫자 :</div>
                    <div class="include__exclude__title" th:if="${#lists.isEmpty(includeList)}">없음</div>
                    <div th:each="num : ${includeList}" class="include__exclude__number__ball" th:text="${num}"></div>
                </div>

                <div class="include__exclude__container">
                    <div class="include__exclude__title">제외된 숫자 :</div>
                    <div class="include__exclude__title" th:if="${#lists.isEmpty(excludeList)}">없음</div>
                    <div th:each="num : ${excludeList}" class="include__exclude__number__ball" th:text="${num}"></div>
                </div>

                <div class="info">
                    <p th:text="|ID : ${lotto.id}|"></p>
                    <p th:text="|생성일 : ${#temporals.format(lotto.createDate, 'yyyy-MM-dd HH:mm:ss')}|"></p>
                </div>
            </div>

            <div>
                <a href="/" class="home-button">🏠 홈으로</a>
                <!--            <a href="/lottos" class="home-button">생성된 번호 모두 보기</a>-->
            </div>
        </div>
    </section>
</body>
</html>
