<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layouts/member-layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>마이 페이지</title>
    <link rel="stylesheet" th:href="@{/css/my-page.css}">
</head>
<body>
    <div layout:fragment="content" class="my__page__background">
        <div class="my__info__container" th:object="${memberInfo}">
            <span th:text="|아이디: *{username}|"></span>
            <span th:text="|성별: *{gender.displayName}|"></span>
            <span th:text="|권한: *{authority.displayName}|"></span>
            <span th:text="|가입 일시: ${#temporals.format(memberInfo.createDate, 'yyyy-MM-dd HH:mm:ss')}|"></span>
            <span th:text="|최근 로그인 일시: ${#temporals.format(memberInfo.lastLoginDate, 'yyyy-MM-dd HH:mm:ss')}|"></span>
        </div>
    </div>
</body>
</html>
