<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>공식 로또 리스트</title>
  <meta charset="UTF-8"/>
  <style>
    table { width: 100%; border-collapse: collapse; }
    th, td { padding: 8px; border: 1px solid #ddd; text-align: center; }
    th { background-color: #f2f2f2; }
  </style>
</head>
<body>

<h2>공식 로또 리스트</h2>

<table>
  <thead>
  <tr>
    <th>회차</th>
    <th>추첨일</th>
    <th>총 판매 금액</th>
    <th>1등 당첨자 수</th>
    <th>1등 당첨금</th>
    <th>1등 누적금</th>
    <th>번호</th>
    <th>보너스</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="lotto : ${lotto}">
    <td th:text="${lotto.drawNumber}"></td>
    <td th:text="${lotto.drawDate}"></td>
    <td th:text="${lotto.totalSalesAmount == 0} ? '0원' : ${#numbers.formatInteger(lotto.totalSalesAmount, 3, 'COMMA')} + '원'"></td>
    <td th:text="${lotto.firstPrizeWinnerCount} + '명'"></td>
    <td th:text="${lotto.firstPrizeAmount == 0} ? '0원' : ${#numbers.formatInteger(lotto.firstPrizeAmount, 3, 'COMMA')} + '원'"></td>
    <td th:text="${lotto.firstPrizeTotalAmount == 0} ? '0원' : ${#numbers.formatInteger(lotto.firstPrizeTotalAmount, 3, 'COMMA')} + '원'"></td>
    <td>
      <span th:text="${lotto.number1}"></span>,
      <span th:text="${lotto.number2}"></span>,
      <span th:text="${lotto.number3}"></span>,
      <span th:text="${lotto.number4}"></span>,
      <span th:text="${lotto.number5}"></span>,
      <span th:text="${lotto.number6}"></span>
    </td>
    <td th:text="${lotto.bonusNumber}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>
