<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layouts/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
    <section layout:fragment="content">
        <img th:src="@{/images/on-preparing.png}" alt="on-preparing image" class="on__preparing _1">
        <img th:src="@{/images/on-preparing.png}" alt="on-preparing image" class="on__preparing _2">
        <img th:src="@{/images/on-preparing.png}" alt="on-preparing image" class="on__preparing _3">
</body>
</html>
