<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layouts/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
    <section layout:fragment="content">
        <div class="signup__background">
            <div class="signup__container">
                <h1 class="signup__container__title">회원가입</h1>
                <div th:if="${param.error}" class="authentication__failed">
                    <span th:text="${exception}?: '잘못된 아이디 혹은 비밀번호입니다!'"></span>
                </div>

                <form class="signup__form" th:action="@{/signup}" method="post" th:object="${registerRequest}">
                    <div class="signup__form__username">
                        <label for="username">아이디</label>
                        <input type="text" id="username" th:field="*{username}" th:errorclass="field__error"
                               placeholder="아이디는 4자 이상 8자 이하입니다." minlength="4" maxlength="8" required>
                        <span class="error__message" th:errors="*{username}" th:text="${#fields.hasErrors('username')}"></span>
                    </div>
                    <div class="signup__form__password">
                        <label for="password">비밀번호</label>
                        <input type="password" id="password" th:field="*{password}" placeholder="비밀번호는 8자 이상 12자 이하입니다."
                               minlength="8" maxlength="12" required>
                    </div>
                    <div class="signup__form__gender">
                        <span>성별</span>
                        <div class="signup__form__gender__radio">
                            <label for="male">남성</label>
                            <input type="radio" id="male" name="gender" value="MALE" checked>
                            <label for="female">여성</label>
                            <input type="radio" id="female" name="gender" value="FEMALE">
                            <label for="other">기타</label>
                            <input type="radio" id="other" name="gender" value="OTHER">
                        </div>
                    </div>
                    <button type="submit">회원가입</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
